/*First tab*/
#tabs-1{
  -moz-column-count: 2;
  height: 1000px;
}

#draggable1,
#draggable2,
#draggable3,
#draggable4,
#draggable5,
#draggable6 {
  width: 140px;
  height: 60px;
  padding: 0.5em;
  border: 2px solid green;
  border-radius: 25px;
}

#droppable {
  width: 300px;
  height: 500px;
  padding: 0.5em;
  float: right;
  margin: 10px;
  border: 6px solid gold;
  background-color: yellow;
  border-radius: 25px;
}

/*Second tab*/
.ui-controlgroup-vertical {
  width: 150px;
}
.ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
  text-align: center;
}
#car-type-button {
  width: 120px;
}
.ui-controlgroup-horizontal .ui-spinner-input {
  width: 20px;
}

#doneOpt{
  background-color: yellow;
}

/*Third tab*/
#datepicker
{
  background-color: lightblue;
}

#from,
#to {
  background-color: lightgreen;
}
